* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.banner {
    width: 100%;
    height: 150vh;
    /* background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(../img/bg.jpg); */
    background-image: url(../../img/6109054.jpg);
    background-size: cover;
    background-position: center;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 120px;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.nav-item .d-block{
    text-align: right;
}
.nav-link,
.nav-item {
    display: block;
    align-items: center;
}
.nav-link,
.nav-item {
    width: auto; /* Sử dụng độ rộng mặc định (auto) để chúng căn giữa nội dung */
}
.nav-item a{
    width: 135px;
}
.right {
    position: relative;
}

.right .select-option {
    position: absolute;
    right: 0;
    /* Thêm các thuộc tính CSS khác tùy thuộc vào thiết kế của bạn */
}
.select-option {
    display: block;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.8s; /* Thêm transition để tạo hiệu ứng mượt mà */
    position: absolute;
    background-color: #EBFAFF;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 15px;
    top: 40px;
    right: 0;
}

/* Thêm lớp .active để điều chỉnh max-height khi dropdown được kích hoạt */
.select-option.active {
    max-height: 200px; /* Điều chỉnh giá trị max-height theo nhu cầu của bạn */
}

.select-option a {
    display: block;
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px;
    color: white;
}

.select-option .d-block:hover {
    background-color: #f77d6b;
}
.dropdown .nav-link {
    white-space: normal;
    word-wrap: break-word;
    font-weight: bold;
}

/* .dropdown:hover .select-option {display: block;} */

/* .dropdown:hover .dropdown {background-color: #3e8e41;} */

/* .dropdown select {
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: white;
} */

/* .dropdown select option {
    color: black;
} */

.dropdown select:focus {
    outline: none;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: black;
}

.navbar ul li .select-option a:hover{
    color: #ff6147;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 100%;
}

.navbar ul li:hover:after {
    background: #ff6147;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
    width: 100%;
}

.content {
    width: 100%;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    text-align: center;
    color: black;
}

.content h1 {
    font-size: 70px;
    /* margin-top: 80px; */
}

.content p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #ff6147;
    background: transparent;
    color: black;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

button a {
    text-decoration: none;
    color: white;
}

span {
    background-color: #ff6147;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span {
    width: 100%;
}

button:hover {
    border: none;
    color: white;
}

.brand-name {
    font-family: "CARTOON FREE", sans-serif;
    text-align: center;
    display: block;
    font-size: 34px;
    width: 150px; /* css size logo*/ /* màu nền hiện tại nếu quên #EBFAFF */
    text-decoration: none;
    color: #ff6147;
}

.footer {
    background-color: #ff6147;
    color: #fff;
    padding: 20px 0;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer h4 {
    margin-bottom: 10px;
}

.footer .about,
.footer .support,
.footer .follow {
    flex: 1;
    text-align: center;
}

.footer a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px 0px;
}

.footer .social a {
    color: #fff;
    text-decoration: none;
    display: inline;
    padding: 0 10px;
}

.footer a:hover {
    color: black;
}

/* .footer .about a {
    margin-right: 10px;
    color: #fff;
    text-decoration: none;
}
.footer .follow a {
    margin-right: 10px;
    color: #fff;
    text-decoration: none;
} */

/* Để đảm bảo biểu tượng font-awesome hiển thị đúng */
.footer .follow a i {
    font-size: 24px;
}

/* CSS cho thông báo lỗi */
.alert.alert-danger {
    background-color: #f8d7da; /* Màu nền đỏ nhạt */
    border: 1px solid #f5c6cb; /* Viền đỏ nhạt */
    color: #721c24; /* Màu chữ đỏ đậm */
    padding: 15px; /* Khoảng cách xung quanh nội dung */
    margin: 50px; /* Khoảng cách giữa các thông báo */
}

/* CSS cho thông báo thành công */
.alert.alert-success {
    background-color: #d4edda; /* Màu nền xanh nhạt */
    border: 1px solid #c3e6cb; /* Viền xanh nhạt */
    color: #155724; /* Màu chữ xanh đậm */
    padding: 15px; /* Khoảng cách xung quanh nội dung */
    margin: 50px; /* Khoảng cách giữa các thông báo */
}
